.color-blue, .color-blue:hover {
  color: #2196f3 !important;
}

.color-pink, .color-pink:hover {
  color: #e91e63 !important;
}

.color-orange, .color-orange:hover {
  color: #ff5722 !important;
}

.color-grey-bold {
  color: #313435 !important;
}

.background-grey-light {
  background-color: #f9fafb !important;
}

.background-white {
  background-color: #FFFFFF !important;
}