.mt-30 {
  margin-top: 30px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.border-radius-50 {
  border-radius: 50% !important;
}

.w-2r {
  width: 2rem;
}

.font-sm {
  font-size: .87rem !important;
}