.mt-30 {
  margin-top: 30px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.p-20 {
  padding: 20px !important;
}

.px-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.py-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.px-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.border-radius-50 {
  border-radius: 50% !important;
}

.border-radius-3px {
  border-radius: 3px !important;
}

.border-radius-10em {
  border-radius: 10em !important;
}

.w-2r {
  width: 2rem;
}

.font-sm {
  font-size: .87rem !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.bd {
  border: 1px solid rgba(0,0,0,.0625)!important;
}

.bgc-white, .bgcH-white:hover {
  background-color: #FFFFFF !important;
}

.bcg-green, .bcgH-green:hover {
  background-color: #e8f5e9 !important;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.h-100vh {
  height: 100vh;
}

.gap-20 {
  margin: -10px !important;
}

.gap-20 > * {
  padding: 10px !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-0 {
  line-height: 0 !important;
}

.vertical-align-middle {
  vertical-align: middle !important;
}