.footer {
  background-size: cover;
  background: #001D38 no-repeat center center;
}

.footer .border-footer {
  padding-top: 103px;
  padding-bottom: 50px;
  border-bottom: 1px solid #334A60;
}

.footer .border-footer .projects-lets-footer h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.footer .border-footer .projects-lets-footer h3 a {
  color: #FF008C;
}

.footer .border-footer .phone-number-footer {
  text-align: right;
}

.footer .border-footer .phone-number-footer h3 {
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
}

.footer .border-footer .phone-number-footer a {
  color: #C7C7C7;
  font-size: 15px;
  font-weight: 300;
}

.footer .copy-right-footer {
  padding-bottom: 30px;
  background: #002140;
}

.footer .copy-right-footer .footer_border {
  padding-bottom: 30px;
}

.footer .copy-right-footer .copy_right {
  font-size: 15px;
  color: #919191;
  margin-bottom: 0;
  font-weight: 400;
}