body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

p {
  color: #727272;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

a, .button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a, button {
  color: #1F1F1F;
  outline: medium none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h3 {
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2rem;
}


// Imports layout files scss
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/header-mobile.scss";
// Import element to app
@import "./elements/slider-element.scss";
@import "./elements/element-body.scss";
@import "./elements/category.scss";
// Import components scss
@import "./components/button.scss";